@use "./abstracts" as *;

:root {
    /* Brand Colors */
    --color-primary: #{$primary};
    --color-secondary: #{$secondary};
    --color-accent: #{$accent};
    --color-background: #{$soft-white};
    --color-text-primary: #{$text-primary};

    /* Semantic Colors */
    --color-success: #{$success};
    --color-warning: #{$warning};
    --color-danger: #{$danger};
    --color-info: #{$info};

    --color-sidebar-bg: #{$lavender};
    --color-header-bg: #{$sky-blue};
    --color-main-bg: #{$soft-white};
}

